@mixin scrollSettings {
   ::-webkit-scrollbar {
      width: 5px;
      background-color: transparent;
   }
   ::-webkit-scrollbar-track {
      background-color: transparent;
   }
   ::-webkit-scrollbar-thumb {
      background-color: lighten($purple, 5);
      border-radius: 20px;
   }
}

@mixin button {
   .button {
      border: none;
      background-color: $purple;
      color: $dark;
      padding: 10px 15px;
      border-radius: 20px;
      text-transform: uppercase;
      cursor: pointer;

      &:focus {
         outline: none;
         box-shadow: 0px 0px 15px -2px $purple; 
      }

      &:hover {
         color: white;
      }
   }
}